.content{
    display: flex;
    overflow: hidden;
}

.content .main-content{
    
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: calc(280px + 2em);
    margin-right: 2em;
}

.content .title{
    margin-top: 4rem;
    font-size: 1.5em;
    font-weight: 500;
}

.content .subtitle{
    width: 50%;
}

.content .payment-cards{
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.content .payment-cards > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.content .card{
    max-width: 110%;
    width: 400px;
}

.content .card.active{
    border-left-width: 10px;
    border-left-color: var(--purple);
}

.content .card-title{
    font-size: 0.8em;
    font-weight: bold;
}

.content .card-text{
    margin-top: 60px;
    font-size: 0.6em
}

.content .payment-buttons{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: flex-end;
    margin-right: 20%;
}



@media (max-width: 1000px){

    .content #side-navbar {
        z-index: 300;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .content .main-content {
        width: 100%;
        margin-left: 0em;
        margin-right: 0em;
    }

    .content input{
        display: none;
    }

    .content .payment-cards{
        width: 100%;
    }

}

@media(max-width: 768px){
    .content .card{
        width: 80%
    }
    .content .card-text{
        margin-top: 0px;
    }
}